
/* grid */
.container {
    display: flex;
  }
  
body {
    background-color: rgb(216, 241, 252);
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    /* align items in a column */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border: 2px solid black;
    padding: 20px;
  }
  
  .score {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .start-button {
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}
  .grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }
  
  .tetromino {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
  }
  
  .mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  .mini-grid div {
    height: 20px;
    width: 20px;
  }